@args (com.example.myproject.components.pokemon.viewModel.PokemonViewModel pokemon)

<tr hx-trigger='cancel' class='editing' hx-get="/contact/@pokemon.id()">
    <td><input name='name' value='@pokemon.name()'></td>
    <td><input name='email' value='@pokemon.name()'></td>
    <td>
        <button class="btn btn-danger" hx-get="/contact/${contact.id}">
            Cancel
        </button>
        <button class="btn btn-danger" hx-put="/contact/${contact.id}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>